<p>event-binding works!</p>

<!-- <p>{{msg}}</p> -->
<!-- <input type="text" value={{msg}} (click)="clickme($event)">
<button value="tv" (click)="addcart($event)">TV</button>
<button value="phone"(click)="addcart($event)">phone</button>
<button  value="book"(click)="addcart($event)">book</button>
<button value="paper" (click)="addcart($event)">paper</button>
<button value="dress"(click)="addcart($event)">dress</button> -->
<input #input type="text" value="myname"name="rajib">
<button (click)="myfunction(input)">clickme</button>