<div class="container">
    
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="small"><h6 class="text-center">From propoties</h6></div>
            <div class="small"><h6 class="text-center">From propoties</h6></div>
            <div class="small"><h6 class="text-center">From propoties</h6></div>
            <div class="small"><h6 class="text-center">From propoties</h6></div>
            <div class="small"><h6 class="text-center">From propoties</h6></div>
            <div class="small"><h6 class="text-center">From propoties</h6></div>
        </div> -->
    <!-- </div> -->
    <router-outlet></router-outlet>
</div>

