
<div class="row">
        <div class="col-md-12">
            <div class="small"><h6 class="text-center" ><a class="nav-link disabled"  routerLinkActive="active" routerLink="./fromEvent">From propoties</a></h6></div>
            <div class="small"><h6 class="text-center"><a class="nav-link disabled"  routerLinkActive="active" routerLink="./fromEvent">From propoties</a></h6></div>
            <div class="small"><h6 class="text-center"><a class="nav-link disabled"  routerLinkActive="active" routerLink="./timeinterval">Time interval</a></h6></div>
            <div class="small"><h6 class="text-center"><a class="nav-link disabled"  routerLinkActive="active" routerLink="./of-from">Of-From</a></h6></div>
            <div class="small"><h6 class="text-center"><a class="nav-link disabled"  routerLinkActive="active" routerLink="./toArray">ToArray</a></h6></div>
            <div class="small"><h6 class="text-center"><a class="nav-link disabled"  routerLinkActive="active" routerLink="./map">map propoties</a></h6></div>
        </div>
    </div>

